html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr; /* I want there to be 3 columus, with the same size */ 
    grid-template-rows: 0.2fr 1.5fr 0.8fr; /* I want there to be 3 rows with differnet sizes*/ 
    grid-template-areas: /* This is to mark each of the areas, which then I will assign to the correct places */
    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";
    grid-gap: 0.2rem; /* gap between each element */    
}

nav{
    background-color: lightblue;
    grid-area: nav;
}

main{
    background-color: rgb(69, 189, 230);
    grid-area: main;
}

#content-1{
    background-color: rgb(137, 185, 201);
    grid-area: content1;
}

#content-2{
    background-color: rgb(98, 144, 160);
    grid-area: content2;
}

#content-3{
    background-color: rgb(76, 126, 143); 
    grid-area: content3;
}

footer{
    background-color: darkcyan;
    grid-area: footer;
}

@media only screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr; /* I only want there to be one colum so it fits on smaller devices */ 
        grid-template-rows: 0.4fr 2.2fr 1.5fr 1.5fr 1.5fr 1fr; /* I want there to be 6 rows so that each of the element can fit on smaller screens */
        grid-template-areas: /* Like before, I am marking each element up so I can assign to each element (but this time for smaller devices) */
        "nav"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}